.github
.git
*.md
.vscode
.gitignore
Makefile
makefile
docker-compose*.yml
.env.preview*
docs
.eslintcache
.gocache
/web/node_modules
/web/dist
/canvas/web/node_modules
/canvas/web/dist
/canvas/web/.vite
/canvas/web/.vite-temp
!THIRD-PARTY-LICENSES.md
